.open-search {
  position: fixed;
  bottom: 15%;
  right: 2%;
  margin: 0;
  padding: 10px;
  line-height: 0;
  background: #fff;
  box-shadow: 0 0 10px #0000008a;
  border-radius: 50%;

  a {
    color: #333;
    &:hover {
      color: $main-color;
    }
  }
}
