.open-search {
  position: fixed;
  bottom: 15%;
  right: 2%;
  margin: 0;
  padding: 10px;
  line-height: 0;
  background-color: #482e4d;
  border-radius: 50%;

  a {
    color: #fff;
    &:hover {
      color: $main-color;
    }
  }
}
