.section {
  margin-bottom: 80px;

  & > * ~ * {
    margin-top: 70px;
  }

  &-title {
    font-size: 2rem;
    text-transform: capitalize;
    text-align: center;
  }
}

h3 {
  font-size: 2em;
  font-weight: 300;
  padding: 20px 0 3px;
  width: 60%;
  position: relative;
  margin: 60px auto;
  text-align: center;
  color: #fff;

  &::after {
    position: absolute;
    content: '';
    width: 35%;
    height: 2px;
    background-color: #333;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
