.section {
  margin-bottom: 80px;

  & > * ~ * {
    margin-top: 70px;
  }

  &-title {
    font-size: 2rem;
    text-transform: capitalize;
    text-align: center;
  }
}

h3 {
  font-size: 2em;
  font-weight: 300;
  width: 60%;
  position: relative;
  margin: 100px auto;
  text-align: center;
  overflow: hidden;
  color: $white-color;

  &::after,
  &::before {
    position: absolute;
    content: '';
    width: 35%;
    height: 2px;
    background-color: $light-green;
    bottom: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  &::after {
    right: -5%;
  }
  &::before {
    left: -5%;
  }
}
